<!DOCTYPE html>
<html>
    <head>
        <title>Bienvenue sur ma première page avec OpenClassrooms !</title>
    </head>
    <body>
        <h1>Aurevoir!</h1>
        
        <p>
            Ceci est ma nouvelle page "Aurevoir le monde !!"
        </p>
    </body>
</html>